/* globals styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.hamburger_icon {
    height: 24px;
    width: 24px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* header styles */
.logo {
    font-size: 36px;
    font-weight: 800;
    color: #131318;
}

.travel_text {
    color: #FF5400;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin: 0px 20px;
    padding: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.toggle_menu_bar {
    display: none;
}

/* footer styles */
.footer {
    background-color: #13131812;
    height: 502px;
    text-align: center;
}

.socials_icons_container {
    margin-top: 50px;
}

.socials_icons_container img {
    margin: 0px 15px;
}

.footer_content {
    padding: 50px 20px;
}

.footer_content p {
    margin-top: 10px;
    color: #5A5A5D;
    font-size: 16;
    font-weight: 400;
}

.footer_bottom {
    margin-top: 50px;
}

.horizontal_line {
    margin-top: 100px;
}

/* responsive design mobile device */
@media screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .nav {
        padding: 10px 10px;
    }

    .toggle_menu_bar {
        display: block;
    }
}